.login
  h1
    padding-top: 40px
  p
    padding-bottom: 8px
  .login-warp
    width: 100%
    position: static
    left: 0
    margin-left: 0
    box-shadow: none
  .login-footer
    .footer
      padding-left: 0
      padding-right: 0
      text-align: center
      li
        float: none