@import '../../assets/stylus/var'
@import '../../assets/stylus/color'

.ct-table
  position: relative
  width: 100%
  font-size: $font-size
  overflow: hidden
  > .ct-table-body-warp
    > table > tbody > tr:last-child > td
      border-bottom: 0px solid $border-color
  &.ct-table-border
    border-top: 1px solid $border-color
    border-left: 1px solid $border-color
    > .ct-table-body-warp
      > table > tbody > tr
        &:last-child > td
          border-bottom: 1px solid $border-color
        > td
          border-right: 1px solid $border-color
      .ct-table-empty
        border-right: 1px solid $border-color
        border-bottom: 1px solid $border-color
    > .ct-table-header-warp
      > table > thead > tr > th
        border-right: 1px solid $border-color
        border-bottom: 1px solid $border-color
  .hidden-columns
    display: none

  // 鼠标移动上去显示，有排序状态时显示
  > .ct-table-header-warp
    > table > thead > tr
      > th:hover .caret-wrapper,
      > th.ascending .caret-wrapper,
      > th.descending .caret-wrapper
        display: inline-flex

  .caret-wrapper
    display: none
    flex-direction: column
    align-items: center
    height: 34px
    width: 24px
    vertical-align: middle
    cursor: pointer
    overflow: initial
    position: relative

  .sort-caret
    width: 0
    height: 0
    border: solid 5px transparent
    position: absolute
    left: 7px
    &.ascending
      border-bottom-color: $color-placeholder
      top: 5px
    &.descending
      border-top-color: $color-placeholder
      bottom: 7px

  .ascending .sort-caret.ascending
    border-bottom-color: $color-main

  .descending .sort-caret.descending
    border-top-color: $color-main

  .ct-table-empty
    position: relative
    text-align: center
    background: #fff
    padding: 20px
    color: #909399
    .empty__img
      margin: 0 auto
      width: 380px
      height: 120px
      background-image: url(../../assets/img/empty_state.jpg)
      background-size: auto 100%
      background-position: center
      background-repeat: no-repeat
      width: 380px;
  .ct-table-loading
    position: relative
    text-align: center
    padding: 100px

  .ct-table-header-warp,
  .ct-table-footer-warp
    width: 100%
    overflow: hidden
  .ct-table-body-warp
    width: 100%
    overflow: auto

  .ct-table-fixed
    position: absolute
    left: 0
    top: 0
    z-index: 1
    overflow: hidden
    box-shadow: 0 0 10px rgba(0,0,0,.12)
    .ct-table-fixed-header-warp
      position: absolute
      left: 0
      top: 0
      overflow: hidden
      z-index: 3
    .ct-table-fixed-body-warp
      position: absolute
      left: 0
      top: 44px
      overflow: hidden
      z-index: 3
  .ct-table-fixed-right
    position: absolute
    left: auto
    right: 0
    top: 0
    overflow: hidden
    box-shadow: -1px 0 8px #d3d4d6
    .ct-table-fixed-header-warp
      position: absolute
      right: 0
      left: auto
      top: 0
      overflow: hidden
      z-index: 3
    .ct-table-fixed-body-warp
      position: absolute
      left: auto
      right: 0
      top: 44px
      overflow: hidden
      z-index: 3

  .ct-table-header,
  .ct-table-body,
  .ct-table-footer
    table-layout: fixed
  .ct-table-fixed-right-patch
    position: absolute
    top: -1px
    right: 0
    background-color: #eef1f6
  table
    width: 100%
    margin: 0
    padding: 0
    text-align: left
    border-collapse: separate
    border-spacing: 0
    border-radius: 4px 4px 0 0

    > thead
      border-radius: 4px 4px 0 0
      overflow: hidden
      color: #909399
      &.is-group th
        background: #f5f7fa
      > tr > th
        background-color: #ffffff
        // height: 40px
        padding: 12px 0
        text-overflow: ellipsis
        text-transform: uppercase
        letter-spacing: 1px
        vertical-align: middle
        position: relative
        > .cell
          line-height: 23px
          padding-left: 10px
          padding-right: 10px

    > tbody > tr
      padding: 5px
      transition: all 0.3s ease
      border-bottom: 1px solid
      background-color: #fff
      &.ct-table-row-stripe > td
        background-color: #fafafa
      &.hover-row > td,
      &.current-row > td
        background-color: #eef1f6
      &:hover > td
        background-color: #eef1f6
      > td
        border-bottom: 1px solid $border-color
        // height: 40px
        padding: 12px 0
        font-weight: normal
        &.is-hidden > .cell
          visibility: visible
        & > .cell
          line-height: 23px
          padding-left: 10px
          padding-right: 10px
          overflow: hidden
          text-overflow: ellipsis
          white-space: normal
          word-break: break-all
          .ct-single-select.is-readonly
            .ct-single-select__name
              background-color: transparent