// 基本用色
$color-main = #F88A55
// $color-main = #3CA6CA
$color-blue = #15A4FA
$color-green = #19BE6B
$color-red = #ED3F14
$color-orange = #F88A55

$border-color = #e5e7ea

$text-color = #7b8594

$color-hover = #fff6f2

$background-main = #f9fafc