// 基本用色
// $color-main = #15A4FA
$color-main = #EE6B5D
// $color-main = #597a8e
// $color-main = #F88A55
// $color-main = #3CA6CA
$color-blue = #15A4FA
$color-green = #19BE6B
$color-red = #ED3F14
$color-orange = #F88A55

$border-color = #eeeeee

$text-color = #7b8594

$color-hover = #f5f5f5

$color-placeholder = #757575

// $background-main = #f9fafc
$background-main = #f0f2f5