@import './var'
@import './color'

.ct-dialog
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 7

.ct-dialog-bg
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  opacity: 0.2
  transition: all .3s
  z-index: 0

.ct-dialog
  .ct-dialog-bg
    background-color: rgba(0, 0, 0, 0.6)
  .ct-dialog-warp
    margin-left: auto
    margin-right: auto
    // height: 100%
    position: relative
    z-index: 1
    .ct-dialog-container
      margin-left: 35%
      width: 30%
      height: 100%
      transition: top cubic-bezier(0.4, 0.0, 0.2, 1) 0.2s
      .ct-dialog-box
        height: auto
        padding-top: 52px
        margin-top: 10%
        background: #ffffff
        border-radius: 3px
        position: relative
        outline: none
        transition-duration: 0.2s
        transition-timing-function: cubic-bezier(0.36, 1.1, 0.2, 1.2)
        transition-property: transform, opacity, box-shadow
        &.shark
          animation: shark 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both
        &.scale
          animation: scale 0.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) both
        &.zoom
          animation: zoom 0.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) both
        .ct-dialog-close
          font: 14px Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif
          height: 20px
          width: 20px
          position: absolute
          top: 16px
          right: 16px
          cursor: pointer
          opacity: 0.6
          text-align: center
          transition: opacity 0.2s ease-in
          font-size: 20px
          line-height: 14px
          z-index: 1
          &:hover
            opacity: 1

        .ct-dialog-title
          font-size: 18px
          line-height: 20px
          padding-bottom: 16px
          color: #000
          position: absolute
          top: 0
          left: 0
          right: 0
          padding: 16px

        .ct-dialog-content
          padding: 0 16px
          padding-bottom: 16px
          font-size: 14px
          color: #757575
          min-height: 40px
          height: auto
          // max-height: 400px
          line-height: 1.5
          -webkit-transition: height 0.4s ease-in
          transition: height 0.4s ease-in
          display: inline-block
          width: 100%
          word-break: break-word
          &.fullscreen
            overflow: auto
            position: absolute
            top: 52px
            left: 0
            right: 0
            bottom: 0
            background-color: $background-main
            > .warp
              padding: 16px 0 0 0
          &.has-footer
            padding-bottom: 64px
        ct-dialog-btn()
          font-family: 'PingFangSC-Medium', 'Microsoft YaHei', '微软雅黑', 'MicrosoftJhengHei', '华文细黑', STHeiti, MingLiu
          text-transform: uppercase
          font-size: 16px
          font-weight: 500
          text-shadow: none
          -webkit-transition: background .1s
          transition: background .1s
          color: $color-main
          background-color: white

          display: inline-block
          padding: 6px 12px
          margin-bottom: 0
          font-size: 14px
          line-height: 1.42857143
          text-align: center
          white-space: nowrap
          vertical-align: middle
          -ms-touch-action: manipulation
          touch-action: manipulation
          cursor: pointer
          -webkit-user-select: none
          -moz-user-select: none
          -ms-user-select: none
          user-select: none
          background-image: none
          border: none
          border-radius: 4px
          &:hover
            background: #dddddd
        .ct-dialog-footer
          position: absolute
          left: 0
          right: 0
          bottom: 0
          padding: 16px
          > .right
            .ct-button
              ct-dialog-btn()

        .ct-dialog-clear
          clear: both

        .ct-dialog-btn
          ct-dialog-btn()

// size
.ct-dialog.ct-dialog-small
  .ct-dialog-container
    margin-left: 35%
    width: 30%
.ct-dialog.ct-dialog-default
  .ct-dialog-container
    margin-left: 30%
    width: 40%
.ct-dialog.ct-dialog-big
  .ct-dialog-container
    margin-left: 22%
    width: 56%
.ct-dialog.ct-dialog-large
  .ct-dialog-container
    margin-left: 10%
    width: 80%
@keyframes shark
  10%,
  90%
    transform: translate3d(-2px, 0, 0)

  20%,
  80%
    transform: translate3d(4px, 0, 0)

  30%,
  50%,
  70%
    transform: translate3d(-8px, 0, 0)

  40%,
  60%
    transform: translate3d(8px, 0, 0)

@keyframes zoom
  0%
    opacity: 0
    transform: scale(0)

  100%
    opacity: 1
    transform: scale(1)

@keyframes scale
  0%
    opacity: 1
    transform: scale(1)

  100%
    opacity: 0
    transform: scale(0)