@import 'color.styl'
// .ivu-date-picker
//   .ivu-input-icon
//     height: 28px
//     line-height: 26px
//   .ivu-input-wrapper
//     vertical-align: baseline!important
//   input
//     border-radius: 4px!important
//     height: 28px!important
//     line-height: 26px!important
//     border-top: 1px solid #c0c0c0
//     &:focus,
//     &:hover
//       -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3)
//       box-shadow: inset 0 1px 2px rgba(0,0,0,0.3)
//       outline: none
//       border: 1px solid $color-main

.ivu-date-picker
  .ivu-input-wrapper
    vertical-align baseline
  .ivu-input-icon
    height: 28px
    line-height: 26px
  .ivu-input
    height 28px
    line-height 1.5
    vertical-align baseline
    border-top 1px solid #c0c0c0
    &:focus,
    &:hover
      -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3)
      box-shadow: inset 0 1px 2px rgba(0,0,0,0.3)
      outline: none
      border: 1px solid $color-main

.ivu-tabs
  overflow: visible

.ivu-upload
  display: inline-block
  vertical-align: top
  .ivu-upload-list
    margin-top: 0