support-for-ie ?= true

opacity(n)
  opacity n
  if support-for-ie
    filter unquote('progid:DXImageTransform.Microsoft.Alpha(Opacity=' + round(n * 100) + ')')

$min-width = 1024px

$box-shadow = 2px 2px 20px 0 rgba(0, 0, 0, 0.1)
$font-size = 14px